@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display:flex;
  justify-content: space-between;
}

.header .left-links,
.header .right-links {
  display: flex;
  margin: 16px;
  gap: 16px;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .buttons button {
  padding: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.footer .left-links,
.footer .right-links {
  display: flex;
  margin: 16px;
  gap: 16px;
}

a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
